#container {
  width: 50%;
  height: 80vh;
  margin: 0 auto;
  font-family: "Nunito", sans-serif;
}

h1 {
  text-align: center;
}

.players {
  text-align: center;
}

.person {
  margin-left: 80px;
  margin-right: 80px;
}
.board-align {
  width: 459px;

  margin: 0 auto;
}

.game-board {
  display: grid;
  grid-template-columns: 150px 150px 150px;
  margin-top: 15%;
  grid-gap: 5px;
  background-color: black;
}
.free {
  height: 150px;
  width: 150px;

  background-color: white;
}
.data {
  margin-top: 0%;
  font-size: 80px;
  border: 1px solid red;
  width: 150px;
  height: 150px;
  text-align: center;
  line-height: 140px;
}
.played {
  text-align: center;
  line-height: 150px;
  font-size: 10vh;
  background-color: white;
}
